.managementpage h1 {
  color: black;
  text-align: center;
  align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  font-family: ff-clan-web-pro-wide;
}

.managementpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  #display: -ms-flexbox;
  #-ms-flex-direction: row;
  #display: -webkit-flex; /* Safari */
  #-webkit-flex-wrap: wrap; /* Safari 6.1+ */
  #display: -moz-box;
  #-moz-box-wrap: wrap;
}

a {
  color: white;
}
a:link{text-decoration:none;
}

ul.block-list {
  list-style-type:none;
}

ul.sub-block-list {
  list-style-type:none;
}

ul, li {
  list-style-type:none;
}

.sub-block-list>li {
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.block-list {
  border-color: #3a3a48;
}

.block-list>li {
  border-bottom-width: 1px;
  padding: 5px;
}

.nav-item {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.sub-nav-item {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  justify-content: flex-start;
  #display: -webkit-flex; /* Safari */
  #-webkit-flex-wrap: wrap; /* Safari 6.1+ */
  -ms-flex-direction: row;
  /*-moz-box-wrap: wrap;*/
}

.form-control {
  width: 250px;
}

#access-tree {
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

#login-but {
  width: 250px;
}

#side-nav-bar {
  text-align: left;
  border-right:1px solid blue;
  background-color: #0066cc;
  color: white;
  background-size: 100% 100%;
  height: 800px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
  text-align: center;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
  padding: 22px;
  border-top:2px solid #0066cc;
}

.col-10 {
  width: 83.33%;
  /*text-align: center;*/
  border-top:2px solid #0066cc;
  /*padding: 32px !important;*/
  background-size: 100% 100%;
  padding: 30px;
  height: 800px;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
  /*text-align: center;*/
}

.role-mng-table a {
  color: white;
}

/* side nav var -- extending */
.side-menu{
/*background-image:url(images/menudiv1bg.gif);*/
margin-left:20px;
margin-top: 25px;
padding-left:20px;
padding-top:2px;
padding-bottom: 2px;
display:block;
text-decoration: none;
/*color: #000000;*/
height: 20px;
font-size: 18px;
}

.side-submenu{
display: block;
height: 19px;
margin-left: 40px;
margin-top: 10px;
padding-top: 2px;
padding-left: 7px;
font-size: 16px;
color: #B0B0B0;
}

.hide{
  display: none;
}

.show{
  display: block;
}

#welcome-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#general-info-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#logout-change-password {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#curr_user {
  text-align: center;
  background-color: #2B547E;
  color: white;
}

#message-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  font-size: medium;
}

#user-mgr {
  font-size: medium;
  align: left;
  margin: 5px 20px;
}

#login-header,#login-form {
  width: 30%;
  margin-left: 35%;
  margin-bottom:100px;
  text-align: center;
}

#user-submit-setting {
  color: black;
}

#grant-role-choice {
  background-color: #00ccff;
}

#startdate, #enddate {
}

#welcome_msg {
  text-align: center;
}
/*
table {
  margin: auto;
  border-style: solid solid solid solid;
  border: 2px;
  border-color: black;
  color: black;
  padding: 3px;
}
*/
table {
  padding: 10px;
  border-collapse: collapse;
  font-size: small;
}

th {
  border: 2px solid;
  padding: 8px;
}

td {
  border: 2px solid;
  padding: 8px;
}

#vehicle-manage-page input {
  width: 120px;
}

select {
  width: 120px;
}

label {
  display: inline-block;
  width: 250px;
  margin-top: 5px;
}

.role-mng-table td {
  width: 200px;
  background-color: #00ccff;
  font-color: white;
}

#account-display td {
  width: 200px;
  background-color: #00ccff;
  font-color: white;
}

#logout-change-password button {
  position: relative;
  top: 15px;
}

#page-hdr {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  p {
    display: none;
  }
}

* {
  /*outline: 1px solid blue !important;*/
}
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}
