.managementpage h1 {
  color: black;
  text-align: center;
  align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  font-family: ff-clan-web-pro-wide;
}

.managementpage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: -moz-box;
  -moz-box-wrap: wrap;
}

#page-hdr h2 {
  text-align: center;
}

#cllxdm {
  font-size: large;
}
#tw {
  font-size: large;
}

a {
  color: white;
}
a:link{text-decoration:none;
}

ul.block-list {
  list-style-type:none;
  text-transform: uppercase;
}

.block-list {
  border-color: #3a3a48;
}

.block-list>li {
  border-bottom-width: 1px;
  padding: 8px;
}

.notif-header {
  align: center;
  text-align: center;
}

.notif-text-body {
  text-align: left;
}

.cmnpy-home {
  text-align: center;
  font-style: italic;
}

span.company-home {
  color: blue;
  font-size: large;
  font-weight: bold;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  /*-moz-box-wrap: wrap;*/
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
  text-align: left;
  border-right:1px solid blue;
  background-color: #0066cc;
  color: white;
}

.col-3 {
  width: 25%;
  text-align: center;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
  padding: 22px;
  border-top:2px solid #0066cc;
}

.col-10 {
  width: 83.33%;
  /*text-align: center;*/
  border-top:2px solid #0066cc;
  padding: 32px !important;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
  text-align: center;
}

#welcome-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#general-info-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#logout-change-password {
  text-align: center;
  background-color: #2B547E;
  color: white;
  position: relative;
  bottom: 1px;
  font-size: medium;
}

#curr_user {
  text-align: center;
  background-color: #2B547E;
  color: white;
}

#message-bar {
  text-align: center;
  background-color: #2B547E;
  color: white;
  font-size: medium;
}

#user-mgr {
  font-size: medium;
  align: left;
  margin: 5px 20px;
}

/*
table {
  margin: auto;
  border-style: solid solid solid solid;
  border: 2px;
  border-color: black;
  color: black;
  padding: 3px;
}
*/
table {
  padding: 10px;
  border-collapse: collapse;
  font-size: small;
}

th {
  border: 2px solid;
  padding: 8px;
}

td {
  border: 2px solid;
  padding: 8px;
}

input {
  width: 120px;
}

label {
  display: inline-block;
  width: 250px;
}

#logout-change-password button {
  position: relative;
  top: 15px;
}

#page-hdr {
  text-align: center;
  align: center;
}

@media only screen and (max-width: 500px) {
  p {
    display: none;
  }
}

* {
  /*outline: 1px solid blue !important;*/
}
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}
